*{
    margin: 0;
}
.navbar{
     background-color: rgb(6, 12, 12);
    border-radius: 50px;
    height: 44px;
    margin: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}
.navbar ul{
    overflow: auto;
}
.navbar li{
float: right;
list-style: none

}
.navbar li{
    margin: 13px 20px;
    
}
.navbar li a{
    text-decoration: none;
    color: white
}
.navbar li a:hover{
    color: brown;
}
img{
    width: 212px;
height: 42px;
    
}
h2{
    font-style: italic;
    text-align-last: center;
    background-color: wheat;
}
footer{
    position: relative;
    bottom: 0%;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
    height: 180px;
    width: 100vw;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}
.social li {
margin: 0% 10px;

}
.social a i {
   font-size: 30px;
}
.social a:hover i{
    color: rgb(255, 0, 0);
}
.footer-bottom{
    background-color: rgb(31, 25, 25);
    width: 100vw;
   text-align: center;
}
.footer-bottom p{
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
}
.class{
    background-color: brown;
    height: 610px;
}
.fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  
